.nav {
  color: #445;
}

.nav ul {
  display        : flex;
  position       : absolute;
  right          : 0;
  top            : 0;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
}

.nav ul li {
  font-size   : 14px;
  margin-right: 1px;
  text-align  : right;
  margin      : 15px 5px;
  list-style  : none;
  cursor      : pointer;
}

.th.icon {
  font-size: 21px;
}

.nav ul .signin {
  padding         : 5px 13px;
  color           : #fff;
  background-color: #2d73e2;
  border          : 1px solid #4285f4;
  border-radius   : 2px;
  margin-right    : 21px;
  font-weight     : bold;
}