.footer {
  font-size: 13px;
  margin: 0;
  padding: 13px;
  background-color: #eee;
  position: fixed;
  max-height: 50vh;
  width: 100%;
  bottom: 0;
}
.footer .location a {
  color: #777;
  margin: 0;
  margin-bottom: 5px;
  text-decoration: none;
}

.footer hr {
  color: rgba(0, 0, 0, 0.1);
}

.footer .info {
  display: table-row;
  margin: 0;
  text-align: left;
}

.footer .info li {
  padding: 5px 21px 0 0;
  text-align: left;
  list-style: none;
  display: inline;
}

.footer .info li a {
  margin: 0;
  text-align: left;
  color: #777;
  text-decoration: none;
}
