@import url("./nav.css");
@import url("./logo.css");
@import url("./form.css");
@import url("./icon.css");
@import url("./dropdown.css");
@import url("./vkeyboard.css");
@import url("./search-button.css");
@import url("./footer.css");

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica neue", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  margin: 0;
}

.main {
  margin: 13vh auto 34px auto;
  padding: 21px;
  text-align: center;
}
