.container {
  cursor: default;
}

#vkeyboard {
  width: max-content;
  direction: ltr;
}

#vkeyboard button {
  border-radius: 2px;
  text-align: center;
  width: 30px;
  font-size: 20;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}
#vkeyboard button:hover {
  box-shadow: 0px 0px 1px 0px #000;
}

#vkeyboard fieldset {
  width: 300px;
  text-align: center;
  margin: 0;
  border: none;
}
#vkeyboard #numbers button {
  display: inline;
}
